################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HACKATHON_2K18/.vs/HACKATHON_2K18/v15/Server/sqlite3
